
header{
    display: flex;
    justify-content: flex-end;
  }

  a{
    text-decoration: none;
  }

  header button{
    background-color: rgb(213, 209, 209);
    color: black;
    margin-right: 40px;
    margin-bottom: 5px;
  }
  
.btn {
    display: inline-block;
    padding: 9px 25px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    margin-top: 60px;
    
  }

  .btn:hover{
      transform: scale(0.98);
  }
  